<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" type="text/css" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
<div class="container ">
    <h1 class=" text-center alert alert-danger" >Crud App</h1>
    {% block body%}

    {% endblock %}
</div>

<script type="text/javascript" src="{% static 'enroll/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'enroll/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>